<!DOCTYPE html>
<html>
<head>
<title>Create bank account</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h1 class="text-center">Create a new bank account</h1>
		<div class="row">
			<!-- Input form -->
			<div class="col-sm-4">
				<form>
					<div class="form-group">
						<label for="email">Client id:</label> <input type="text"
							class="form-control" id="client-id">
					</div>
	
					<div class="form-group">
						<label for="pwd">Bank account id:</label> <input type="text"
							class="form-control" id="bank-account-id">
					</div>
	
					<div class="form-group">
						<label for="pwd">Bank account name:</label> <input type="text"
							class="form-control" id="bank-account-name">
					</div>
	
					<div class="form-group">
						<label for="pwd">Bank balance:</label> <input type="text"
							class="form-control" id="bank-account-balance">
					</div>
	
					<input type="button" class="btn btn-default" value="Create!"
						onclick="createBankAccount();" />
				</form>				
			</div>
			<!-- Client Information -->
			<div class="col-sm-8" >
				<div id="response" class="border border-dar">
				</div>			
			</div>
		
		</div>
	</div>



	<script type="text/javascript">
	
		function queryUserInfo(){
			var xhttp = new XMLHttpRequest();
			
			var clientId = document.getElementById("client-id").value;
			xhttp.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
			       document.getElementById("response").innerHTML = xhttp.responseText;
			    }
			};
			xhttp.open("GET", "http://localhost:8080/simple-view-client-info/"+ clientId, true);
			xhttp.send();
		}
	
		function createBankAccount() {
			var clientId = document.getElementById("client-id").value;
			var bankAccountId = document.getElementById("bank-account-id").value;
			var bankAccountName = document.getElementById("bank-account-name").value;
			var bankAccountBalance = document.getElementById("bank-account-balance").value;
			
			if(isNaN(parseFloat(bankAccountBalance))){
				alert("Balance has to be a number!");
			}else{
				var url = "http://localhost:8080/new-account/" + clientId;
				var xhr = new XMLHttpRequest();
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() { // Call a function when the state changes.
					if (this.readyState === XMLHttpRequest.DONE
							&& this.status === 200) {
						// Created correctly
						queryUserInfo();
					}else{
						//alert(this.status);
					}
				}
				var obj = {
					id : bankAccountId,
					name : bankAccountName,
					money : bankAccountBalance
				};
				var myJSON = JSON.stringify(obj);
				xhr.send(myJSON);				
			}
			
		}
	</script>


</body>
</html>